{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Калькулятор</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>
<body>
<div class="container my-5">
    {% block type_select %}
    {% endblock %}

    <div class="row my-5 g-0">
        <div class="col-8">
            <form method="post">
                {% csrf_token %}
                <div class="row gx-0 py-1 px-1 align-items-center border">
                    {% block left_side %}
                    {% endblock %}
                    <div class="col-6">
                        <div class="input-group input-group-lg">
                            <input type="text" name="given" class="form-control" placeholder="Выражение"
                                   aria-label="Выражение"
                                   aria-describedby="button-addon2"
                                    id="inputField">
                        </div>
                    </div>
                    <div class="col-2 px-3">
                        <div class="row">
                            <div class="col-4 px-0">
                                <div class="input-group-lg">
                                    <span class="input-group-text">d</span>
                                </div>
                            </div>
                            <div class="col-8 px-0">
                                <div class="input-group-lg">
                                    <select name="var" class="form-select" aria-label="Пример выбора по умолчанию">
                                        <option selected>x</option>
                                        <option value="y">y</option>
                                        <option value="z">z</option>
                                        <option value="t">t</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="input-group input-group-lg">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2" name="btn1">=
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col my-5">
            <button type="button" class="btn btn-outline-primary">P</button>
            <button type="button" class="btn btn-outline-primary">P</button>
            <button type="button" class="btn btn-outline-primary">P</button>
        </div>
    </div>
    <div class="row">
        <div class="col my-5">
            <p class="fs-3 fw-light">Дано:</p>
            <p class="fs-3">{{ given }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col my-5">
            <p class="fs-3 fw-light">Ответ:</p>
            <p class="fs-3"><strong>{{ result }}</strong></p>
        </div>
    </div>
    {% block plot %}

    {% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script src="{% static 'js/keyboard.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>