{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--/start-Events-->
<div class="services">
    <div class="container">
        <h3>Недавние статьи</h3>
        <div class="featured-main events-featured-main">
            {% for article in articles %}
            <div class=" col-md-3 feature-text">
                <a href="single.html"><img src="{{ article.photo.url }}" alt="photo {{ article.headline }}"></a>
                <div class="feature-text-grids">
                    <div class="feature-text-right">
                        <h3>{{ article.headline }}</h3>
                        <p>{{ article.short_description }}</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            {% endfor %}

            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="featured-section">
    <div class="container">
        <h2>Случайные статьи</h2>
        <div class="featured-main">
            {% for rand_article in random_articles %}
            <div class=" col-md-4 feature-text">
                <img src="{{ rand_article.photo.url }}" alt="photo {{ rand_article.headline }}">
                <h3>{{ rand_article.headline }}</h3>
                <p>{{ rand_article.short_description }}</p>
                <div class="wecome-button">
                    <a class="button rotate2" href="single.html">Read More<span> </span></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="copy-right-section">
    <div class="container">
        <div class="col-md-6 copy-right">
            <p>Design by &nbsp;<a href="http://w3layouts.com">W3Layouts</a></p>
        </div>
        <div class="col-md-6 social-icons">
            <ul class="soc_icons2">
                <li><a href="#"><i class="icon_4"></i></a></li>
                <li><a href="#"><i class="icon_5"></i></a></li>
                <li><a href="#"><i class="icon_6"></i></a></li>
                <div class="clearfix"></div>
            </ul>

        </div>
    </div>
</div>
{% endblock %}
