{% extends 'integrals_base.html' %}


{% block up_limit %}
<div class="row">
    <div class="col">
        <div class="input-group input-group-lg">
            <div class="input-group input-group-sm mb-3 ">
                <input type="text" name="up_lim" class="form-control" aria-label="Пример размера поля ввода"
                       aria-describedby="inputGroup-sizing-sm" id="inputField_2" placeholder="+∞" value="+∞">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block low_limit %}
<div class="row">
    <div class="col">
        <div class="input-group input-group-sm mb-3">
            <input type="text" name="low_lim" class="form-control" aria-label="Пример размера поля ввода"
                   aria-describedby="inputGroup-sizing-sm" id="inputField_3" placeholder="-∞" value="-∞">
        </div>
    </div>
</div>
{% endblock %}
